<h2>Perfil Excluído com Sucesso!</h2>
<br />
<button type="button" class="btn btn-primary" onclick="Voltar()">Listagem de Perfis</button>

<script>
    function Voltar()
    {
        if (!navigator.onLine) {
            alert("Sem conexão com a internet. Verifique sua rede e tente novamente.");
        }
        else {
            window.location.href = '../../Configuracoes/Perfil';
        }
    
    }
</script>
