<style>

        .container {
        max-width: 100%;
    }

    .img-fluid {
        width: 150px;
        height: 150px;
    }

    .mb-4 {
        margin-bottom: 1.5rem;
    }

    .text-center span {
        display: block;
        margin-top: 10px;
    }

</style>

<br />
<div class="container">
    <div class="row text-center">
        <div class="col-lg-7 col-md-7 col-sm-6 mb-4">
            <a href="../Configuracoes/Perfil">
                <img src="~/images/Perfil.png" class="img-fluid" />
            </a>
            <span>Cadastro de perfis de acesso</span>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-6 mb-4">
            <a href="../Configuracoes/Acesso">
                <img src="~/images/Login.png" class="img-fluid" />
            </a>
            <span>Cadastro de Logins</span>
        </div>
        </div>
</div>
