<h2>Conta Excluída com Sucesso!</h2>
<br />
<button type="button" class="btn btn-primary" onclick="Voltar()">Listagem de Contas a pagar</button>

<script>
    function Voltar()
    {
        if (!navigator.onLine) {
            alert("Sem conexão com a internet. Verifique sua rede e tente novamente.");
        }
        else {
            window.location.href = '../../Financeiro/ContasPagar';
        }

    }
</script>