@model RelatorioModel


<h3>Relatório financeiro</h3>

<iframe width="100%"
        height="600px"
        src="https://app.powerbi.com/view?r=LINK_DO_SEU_RELATORIO"
        frameborder="0"
        allowFullScreen="true">
</iframe>