@model RelatorioModel


<h3 class="titulo-cadastro">Relatório financeiro</h3>

<iframe width="100%"
        height="600px"
        src="https://app.powerbi.com/view?r=LINK_DO_SEU_RELATORIO"
        frameborder="0"
        allowFullScreen="true">
</iframe>

<style>
    .titulo-cadastro {
        white-space: nowrap; /* Impede a quebra de linha */
        text-align: center; /* Centraliza o texto */
        margin-bottom: 20px; /* Adiciona um espaço abaixo do título */
    }
</style>