<style>

    .container {
    max-width: 100%;
}

.img-fluid {
    width: 150px;
    height: 150px;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.text-center span {
    display: block;
    margin-top: 10px;
}

</style>

<script>
    function checkInternetConnection() {
        if (!navigator.onLine) {
            alert("Sem conexao com a internet. Verifique sua rede e tente novamente.");
        }
    }

    window.addEventListener('load', checkInternetConnection);
    window.addEventListener('offline', checkInternetConnection);

    document.addEventListener('DOMContentLoaded', function () {
        var errorMessage = '@TempData["ErrorLogin"]';
        if (errorMessage) {
            alert(errorMessage);
        }
    });
</script>

<br />
<div class="container">
    <div class="row text-center">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <a href="../Configuracoes/Menu">
                <img src="~/images/Configuracoes.png" class="img-fluid" />
            </a>
            <span>Configurações</span>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <a href="../Medico/Index">
                <img src="~/images/Medicos.png" class="img-fluid" />
            </a>
            <span>Cadastro de médicos</span>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <a href="../PlanoSaude/Index">
                <img src="~/images/PlanoSaude.png" class="img-fluid" />
            </a>
            <span>Cadastro de Planos de saúde</span>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <a href="../TipoConsulta/Index">
                <img src="~/images/TipoConsultas.png" class="img-fluid" />
            </a>
            <span>Cadastro de tipos de consultas</span>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <a href="../Paciente/Index">
                <img src="~/images/Pacientes.png" class="img-fluid" />
            </a>
            <span>Cadastro de Pacientes</span>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <a href="../Relatorio/Index">
                <img src="~/images/Agendamentos.png" class="img-fluid" />
            </a>
            <span>Agendamentos</span>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <a href="../Venda/Index">
                <img src="~/images/Financeiro.png" class="img-fluid" />
            </a>
            <span>Financeiro</span>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <a href="../Relatorio/Index">
                <img src="~/images/Estoque.png" class="img-fluid" />
            </a>
            <span>Estoque</span>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <a href="../Relatorio/Index">
                <img src="~/images/Mensagem.png" class="img-fluid" />
            </a>
            <span>Enviar Mensagem</span>
        </div>
    </div>
</div>