@model ReceituarioModel

<h3 class="titulo-cadastro">Receita Médica</h3>

<form id="receitaForm" asp-controller="Prontuario" asp-action="ReceitaMedica" method="post">
    <input type="hidden" asp-for="IdMedicinePrescription" />
    <input type="hidden" asp-for="Reason" id="Reason" />

    <!--<div class="form-group medico-row">
        <label for="IdDoctor">Dr(a)</label>
        <div class="form-inline">
            <select id="IdDoctor" asp-for="IdDoctor" class="form-control combo-medico" asp-items="ViewBag.ListaMedicos" required="required">
                <option value="">Selecione o medico</option>
            </select>
            <input type="text" id="medicoFiltro" class="form-control filtro-medico" placeholder="Pesquisar medico..." />
        </div>
    </div>-->
    <div class="form-group medico-row">
        <label for="searchDoctor">Dr(a)</label>
        <div class="form-inline">
            <select id="IdDoctor" asp-for="IdDoctor" class="form-control combo-medico" asp-items="ViewBag.ListaMedicos" required="required">
                <option value="">Selecione o medico</option>
            </select>
            <input type="text" id="searchDoctor" class="form-control filtro-medico" placeholder="Pesquisar médico..." oninput="filtrarMedicos()">
        </div>
    </div>
    <br />
    <div class="form-group paciente-row">
        <label for="searchPatient">Paciente</label>
        <div class="form-inline">
            <select id="IdPatients" asp-for="IdPatients" class="form-control combo-paciente" asp-items="ViewBag.ListaPacientes" required="required">
                <option value="">Selecione o paciente</option>
            </select>
            <input type="text" id="searchPatient" class="form-control filtro-paciente" placeholder="Pesquisar paciente..." oninput="filtrarPacientes()">
        </div>
    </div>
    <br />
    <div class="form-group">
        <br />
        <label>Data de Emissão:</label>
        <input type="date" name="DateIssuePrescriptions" id="dataEmissao" required="required"
               min="@DateTime.Now.ToString("yyyy-MM-dd")"
        @*value="@Model.dateIssue.ToString("yyyy-MM-dd")"*@ />
        <span asp-validation-for="DateIssuePrescriptions" class="text-danger"></span>
    </div>
    <br />

    <!-- Dropdown de medicamentos -->
    <div class="form-group medicamento-row">
        <label for="searchMedications">Selecione o Medicamento:</label>
        <div class="form-inline">
            <select id="IdProductRevenue" asp-for="IdProductRevenue" class="form-control combo-medicamento">
                <option value="">Selecione um Medicamento</option>
                @foreach (var remedio in ViewBag.ProdutosReceita)
                {
                    <option value="@remedio.Value">@remedio.Text</option>
                }
            </select>
            <input type="text" id="searchMedications" class="form-control filtro-medicamento" placeholder="Pesquisar medicamento..." oninput="filtrarMedicamentos()" />
            <button type="button" class="btn btn-primary btn-lista-remedios" onclick="ListaRemedios()">Lista de remédios</button>
        </div>
    </div>
    <br />
    <div class="col-2">
        <label>Quantidade:</label>
        <input type="number" id="quantidadeMedicamento" class="form-control short-time-input"/>
        <span asp-validation-for="Qty" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label>Unidade Medida</label>

        <select asp-for="TypeMedication" class="form-control" id="tipoMedicacao">
            <option value="CP">Comprimido(s)</option>
            <option value="CX">Caixa(s)</option>
            <option value="Ml">Ml</option>
            <option value="GT">Gotas</option>
        </select>
        <span asp-validation-for="TypeMedication" class="text-danger"></span>
    </div>
    <br />
    <div class="col-2">
        <label>Intervalo (em horas):</label>
        <input type="number" id="intervaloMedicamento" class="form-control short-time-input" />
    </div>
    <br />
    <div class="col-2">
        <label>Intervalo (vez por dia)</label>
        <input type="number" id="intervaloVezesDias" class="form-control short-time-input" />
    </div>
    <br />
    <div class="col-2">
        <label>Duração (Dia(s))</label>
        <input type="number" id="dias" class="form-control short-time-input" />
    </div>
    <br />
    <div class="form-group">
        <button type="button" class="btn btn-primary" onclick="adicionarMedicamento()" id="botaoAdicionarReceita">Adicionar Medicamento</button>
    </div>
    <br />
    <div id="listaMedicamentos" class="form-group">
        <!-- Aqui serão exibidos os medicamentos adicionados -->
        <span asp-validation-for="Reason"></span>
    </div>

    <br />
    <button type="submit" class="btn btn-success" onclick="Imprimir()">Imprimir Receita</button>
</form>

<style>
    .titulo-cadastro {
        white-space: nowrap; /* Impede a quebra de linha */
        text-align: center; /* Centraliza o texto */
        margin-bottom: 20px; /* Adiciona um espaço abaixo do título */
    }

    .medicamento-row {
        display: flex;
        flex-direction: column; /* Responsivo */
        gap: 10px;
    }

    .medico-row{
        display: flex;
        flex-direction: column; /* Responsivo */
        gap: 10px;
    }

    .paciente-row{
        display: flex;
        flex-direction: column; /* Responsivo */
        gap: 10px;
    }

    .form-inline {
        display: flex;
        align-items: center;
        gap: 10px; /* Espaço entre os elementos */
    }

    .combo-medicamento, .filtro-medicamento, .combo-medico, .filtro-medico, .combo-paciente, .filtro-paciente {
        flex: 1; /* Tamanho proporcional */
    }

    @@media (max-width: 768px) {
        .form-inline {
            flex-direction: column; /* Ajusta para empilhar no celular */
        }

        .btn-lista-remedios {
            width: auto; /* Deixa o botão com o tamanho natural */
            margin-left: 0; /* Remove o deslocamento lateral */
            align-self: flex-start; /* Alinha à esquerda */
        }
    }

</style>

<script>

    function ListaRemedios() {
        if (!navigator.onLine) {
            alert("Sem conexão com a internet. Verifique sua rede e tente novamente.");
        } else {
            window.location.href = "../ProdutosEstoque/ListaRemediosPacientes";
        }
    }

    let medicamentos = [];

    // Função para adicionar medicamento
    function adicionarMedicamento() {
        var medicamentoSelect = document.getElementById("IdProductRevenue");
        var medicamentoNome = medicamentoSelect.options[medicamentoSelect.selectedIndex].text;
        var medicamentoId = medicamentoSelect.value;
        var quantidade = document.getElementById("quantidadeMedicamento").value;
        var tipoMedicacao = document.getElementById("tipoMedicacao").value;  // Tipo de medicacao (CP, GT, etc.)
        var intervaloHoras = document.getElementById("intervaloMedicamento").value; // Intervalo em horas
        var intervaloDeVezes = document.getElementById("intervaloVezesDias").value; // Vezes por dia
        var dias = document.getElementById("dias").value; // Duração em dias

        // Validação básica
        if (!medicamentoId || !quantidade || (!intervaloHoras && !intervaloDeVezes)) {
            alert("Por favor, preencha todos os campos.");
            return;
        }

        // Definir a descrição com base no tipo de medicação
        var descricaoUso = "";
        switch (tipoMedicacao) {
            case "CP": // Comprimidos
                if (intervaloDeVezes) {
                    descricaoUso = `- Tomar ${quantidade} comprimido(s) de ${medicamentoNome}, ${intervaloDeVezes} vez(es) por dia durante ${dias} dia(s).`;
                } else if (intervaloHoras) {
                    descricaoUso = `- Tomar ${quantidade} comprimido(s) de ${medicamentoNome} de ${intervaloHoras} em ${intervaloHoras} horas durante ${dias} dia(s).`;
                }
                break;
            case "GT": // Gotas
                if (intervaloDeVezes) {
                    descricaoUso = `- Tomar ${quantidade} gotas de ${medicamentoNome}, ${intervaloDeVezes} vez(es) por dia durante ${dias} dia(s).`;
                } else if (intervaloHoras) {
                    descricaoUso = `- Tomar ${quantidade} gotas de ${medicamentoNome} de ${intervaloHoras} em ${intervaloHoras} horas durante ${dias} dia(s).`;
                }
                break;
            case "Ml": // Mililitros
                if (intervaloDeVezes) {
                    descricaoUso = `- Tomar ${quantidade} ml de ${medicamentoNome}, ${intervaloDeVezes} vez(es) por dia durante ${dias} dia(s).`;
                } else if (intervaloHoras) {
                    descricaoUso = `- Tomar ${quantidade} ml de ${medicamentoNome} de ${intervaloHoras} em ${intervaloHoras} horas durante ${dias} dia(s).`;
                }
                break;
            case "CX": // Caixa
                if (intervaloDeVezes) {
                    descricaoUso = `- Tomar ${quantidade} caixa(s) de ${medicamentoNome}, ${intervaloDeVezes} vez(es) por dia durante ${dias} dia(s).`;
                } else if (intervaloHoras) {
                    descricaoUso = `- Tomar ${quantidade} caixa(s) de ${medicamentoNome} de ${intervaloHoras} em ${intervaloHoras} horas durante ${dias} dia(s).`;
                }
                break;
            default: // Outros tipos de medicação
                if (intervaloDeVezes) {
                    descricaoUso = `- ${quantidade} unidade(s) de ${medicamentoNome}, ${intervaloDeVezes} vez(es) por dia durante ${dias} dia(s).`;
                } else if (intervalo) {
                    descricaoUso = `- ${quantidade} unidade(s) de ${medicamentoNome} a cada ${intervaloHoras} horas durante ${dias} dia(s).`;
                }
                break;
        }

        // Adicionar os dados ao array
        medicamentos.push({
            IdProductRevenue: medicamentoId,
            Qty: quantidade,
            TypeMedication: tipoMedicacao,
            Reason: descricaoUso
        });

        // Exibir o medicamento na página
        var lista = document.getElementById("listaMedicamentos");
        var medicamentoHTML = `<p>${descricaoUso}</p>`;
        lista.innerHTML += medicamentoHTML;

        document.getElementById("Reason").value = medicamentos.map(m => m.Reason).join("\n\n");

        // Limpar os campos
        medicamentoSelect.selectedIndex = 0;
        document.getElementById("quantidadeMedicamento").value = '';
        document.getElementById("intervaloMedicamento").value = '';
        document.getElementById("intervaloVezesDias").value = '';
        document.getElementById("dias").value = '';
        document.getElementById("searchMedications").value = '';
        document.getElementById("searchPatient").value = '';
        document.getElementById("searchDoctor").value = '';
        document.getElementById("searchMedications").focus();
    }

    document.getElementById("receitaForm").onsubmit = function () {
        // Criar um campo oculto para enviar os medicamentos como JSON
        var inputMedicamentos = document.createElement("input");
        inputMedicamentos.type = "hidden";
        inputMedicamentos.name = "Medicamentos";
        inputMedicamentos.value = JSON.stringify(medicamentos);

        this.appendChild(inputMedicamentos);
    };

    // Procedimento para que a barra de pesquisa ao clicar no entre ele vai direto no registro pelo combobox
    /*document.getElementById('pacienteFiltro').addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            event.preventDefault(); // Impede o envio do formulário
            document.getElementById("IdPatients").focus();

            const filtro = this.value.toLowerCase();
            const select = document.getElementById('IdPatients');
            const options = select.options;

            let encontrado = false;

            for (let i = 0; i < options.length; i++) {
                if (options[i].text.toLowerCase().includes(filtro)) {
                    select.selectedIndex = i; // Define o paciente encontrado no combobox
                    encontrado = true;
                    break;
                }
            }

            if (!encontrado) {
                alert('Paciente não encontrado.');
            }
        }
    });
    
    // Procedimento para pesquisar medico
    document.getElementById('medicoFiltro').addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            event.preventDefault(); // Impede o envio do formulário
            document.getElementById("IdDoctor").focus();

            const filtro = this.value.toLowerCase();
            const select = document.getElementById('IdDoctor');
            const options = select.options;

            let encontrado = false;

            for (let i = 0; i < options.length; i++) {
                if (options[i].text.toLowerCase().includes(filtro)) {
                    select.selectedIndex = i; // Define o medico encontrado no combobox
                    encontrado = true;
                    break;
                }
            }

            if (!encontrado) {
                alert('Medico não encontrado.');
            }
        }
    });
    
    // Procedimento para pesquisar medicamento
    document.getElementById('medicamentoFiltro').addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            event.preventDefault(); // Impede o envio do formulário
            document.getElementById("IdProductRevenue").focus();

            const filtro = this.value.toLowerCase();
            const select = document.getElementById('IdProductRevenue');
            const options = select.options;

            let encontrado = false;

            for (let i = 0; i < options.length; i++) {
                if (options[i].text.toLowerCase().includes(filtro)) {
                    select.selectedIndex = i; // Define o medicamento encontrado no combobox
                    encontrado = true;
                    break;
                }
            }

            if (!encontrado) {
                alert('Medicamento não encontrado.');
            }
        }
    });*/

    // Para fazer a pesquisa e trazer no combobox ao lado
    document.addEventListener('DOMContentLoaded', function () {
        const searchDoctorInput = document.getElementById('searchDoctor');
        const searchPatientInput = document.getElementById('searchPatient');
        const searchMedicationsInput = document.getElementById('searchMedications');

        if (searchDoctorInput) {
            searchDoctorInput.addEventListener('keypress', function (e) {
                if (e.key === 'Enter') {
                    e.preventDefault(); // Evita que o formulário seja submetido ao pressionar Enter
                    filtrarMedicos();
                }
            });
        }

        if (searchPatientInput) {
            searchPatientInput.addEventListener('keypress', function (e) {
                if (e.key === 'Enter') {
                    e.preventDefault(); // Evita que o formulário seja submetido ao pressionar Enter
                    filtrarPacientes();
                }
            });
        }

        if (searchMedicationsInput) {
            searchMedicationsInput.addEventListener('keypress', function (e) {
                if (e.key === 'Enter') {
                    e.preventDefault(); // Evita que o formulário seja submetido ao pressionar Enter
                    filtrarMedicamentos();
                }
            });
        }
    });

    function filtrarMedicos() {
        const termo = document.getElementById('searchDoctor').value.toLowerCase();
        const select = document.getElementById('IdDoctor');
        const options = select.getElementsByTagName('option');

        let encontrado = false;

        for (let i = 0; i < options.length; i++) {
            const nomeMedico = options[i].text.toLowerCase();
            if (nomeMedico.includes(termo)) {
                select.value = options[i].value;
                encontrado = true;
                break;
            }
        }

        if (!encontrado) {
            alert('Médico não encontrado.');
            document.getElementById("searchDoctor").value = '';
            document.getElementById("IdDoctor").value = '';
            document.getElementById("searchDoctor").focus();
        }
    }

    function filtrarPacientes() {
        const termo = document.getElementById('searchPatient').value.toLowerCase();
        const select = document.getElementById('IdPatients');
        const options = select.getElementsByTagName('option');

        let encontrado = false;

        for (let i = 0; i < options.length; i++) {
            const nomePaciente = options[i].text.toLowerCase();
            if (nomePaciente.includes(termo)) {
                select.value = options[i].value;
                encontrado = true;
                break;
            }
        }

        if (!encontrado) {
            alert('Paciente não encontrado.');
            document.getElementById("searchPatient").value = '';
            document.getElementById("IdPatients").value = '';
            document.getElementById("searchPatient").focus();
        }
    }

    function filtrarMedicamentos() {
        const termo = document.getElementById('searchMedications').value.toLowerCase();
        const select = document.getElementById('IdProductRevenue');
        const options = select.getElementsByTagName('option');

        let encontrado = false;

        for (let i = 0; i < options.length; i++) {
            const nomePaciente = options[i].text.toLowerCase();
            if (nomePaciente.includes(termo)) {
                select.value = options[i].value;
                encontrado = true;
                break;
            }
        }

        if (!encontrado) {
            alert('Medicamento não encontrado.');
            document.getElementById("searchMedications").value = '';
            document.getElementById("IdProductRevenue").value = '';
            document.getElementById("searchMedications").focus();
        }

    }

    // Esse procedimento serve para que quando o usuário aperte o enter vai pra proxima textbox
    
    /*document.getElementById('IdDoctor').addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            event.preventDefault(); // Impede o envio do formulário
            document.getElementById("IdPatients").focus();
        }
    });*/

    document.getElementById('IdPatients').addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            event.preventDefault(); // Impede o envio do formulário
            document.getElementById("dataEmissao").focus();
        }
    });

    document.getElementById('dataEmissao').addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            event.preventDefault(); // Impede o envio do formulário
            document.getElementById("IdProductRevenue").focus();
        }
    });

    document.getElementById('IdProductRevenue').addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            event.preventDefault(); // Impede o envio do formulário
            document.getElementById("quantidadeMedicamento").focus();
        }
    });
    
    document.getElementById('quantidadeMedicamento').addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            event.preventDefault(); // Impede o envio do formulário
            document.getElementById("tipoMedicacao").focus();
        }
    });

    document.getElementById('tipoMedicacao').addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            event.preventDefault(); // Impede o envio do formulário
            document.getElementById("intervaloMedicamento").focus();
        }
    });

    document.getElementById('intervaloMedicamento').addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            event.preventDefault(); // Impede o envio do formulário
            document.getElementById("intervaloVezesDias").focus();
        }
    });

    document.getElementById('intervaloVezesDias').addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            event.preventDefault(); // Impede o envio do formulário
            document.getElementById("dias").focus();
        }
    });

    document.getElementById('dias').addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            event.preventDefault(); // Impede o envio do formulário
            document.getElementById("botaoAdicionarReceita").focus();
        }
    });

</script>